*{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(169, 169, 170);
	color: white;
	font-family: "Krub", serif;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 80px;
	background-color: #2222;
}
nav ul{
	display: flex;
	justify-content: center;

}
nav ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;
	transition: all 0.3s ease;
}
nav ul li a:hover{
	color: #522;
	font-size: 21px;
	transform: scale(1.8);
}
nav ul li{
	list-style: none;
	margin: 0 21px;
}
.left{
	font-size: 36px;
}
.py-80{
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
}
.sweet{
	color: #f81515;
}
#element{
	color: #136802;
	font-size: 25px;
	font-weight: 700;
}


/* Skill progress bar */
.skill-main {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	.skill-wrrap {
	  display: flex;
	  flex-direction: column;
	  gap: 10px;
	  .skill-name {
		color: #ffffff;
		font-size: 18px;
		font-weight: 500;
	  }
  
	  .skill-bar {
		height: 20px;
		background-color: #00283a;
		border-radius: 8px;
	  }
  
	  .skill-per {
		height: 20px;
		background: #23576f;
		border-radius: 8px;
		width: 0;
		transition: 1s linear;
		position: relative;
		&:before {
		  content: attr(per);
		  position: absolute;
		  padding: 4px 6px;
		  background-color: #23576f;
		  color: #fff;
		  font-size: 11px;
		  border-radius: 4px;
		  top: -35px;
		  right: 0;
		  transform: translateX(50%);
		}
  
		&:after {
		  content: "";
		  position: absolute;
		  width: 10px;
		  height: 10px;
		  background-color: #23576f;
		  top: -15px;
		  right: 0;
		  transform: translateX(50%) rotate(45deg);
		  border-radius: 2px;
		}
	  }
	}
  }


  /* Footer CSS */


.footer {
    background-color: #186DEA;
    padding-bottom: 0
}

.footer-upper {
    background: #fff0;
    padding-top: 0
}

.footer-widget p {
    color: #fff;
    margin-top: 25px;
    font-size: 16px;
    line-height: 1.6
}

.footer-bottom {
    padding: 15px 0;
    background: #195ec4;
    color: #fff;
    border-top: none
}

.footer-logo {
    width: 85%
}

.footer-widget .widget-title {
    color: #fff;
    position: relative;
    font-size: 1.8rem
}

.links-widget address {
    margin-bottom: 25px
}

.footer-widget>.widget-title:first-child:after {
    content: '';
    width: 70px;
    height: 2px;
    background-color: #cdcdcdc7;
    position: absolute;
    bottom: -8px;
    left: 3px
}

.footer-widget p {
    color: #fff;
    margin-top: 25px;
    font-size: 16px;
    line-height: 1.7
}

.footer-widget ul li a {
    position: relative;
    padding-left: 20px
}

.footer-widget ul li a:before {
    content: '';
    background: url(/images/theme-icon/main-btn-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 4px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center
}

.footer-widget ul li a {
    display: inline-block;
    transition: transform 0.5s ease
}

.footer-widget ul li a:hover {
    transform: translateX(7px);
    transition: transform 0.5s ease
}

.footer-widget>.widget-title {
    margin-bottom: 25px
}

a.footer-call {
    font-size: 20px;
    font-weight: 600
}

a.footer-call img {
    width: 25px
}

.widget-title.company {
    margin-bottom: 12px;
    font-size: 1.8rem
}

.widget-title.company a {
    color: #fff
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 20px;
    font-size: 14px
}

.designby a {
    color: #fff
}

ul.social-icon {
    list-style-type: none;
    display: flex
}

ul.social-icon li:before {
    content: none
}

ul.social-icon li {
    padding-left: 0
}

ul.social-icon li a {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: transform 0.5s ease
}

ul.social-icon li a i {
    color: #2379F9;
    font-size: 20px
}

ul.social-icon li a:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease
}

ul.social-icon li a {
    text-decoration: none
}

.links-widget a {
    color: snow;
    text-decoration: none
}